/.gradle/
/.idea/
/build/
/gradle/
/out/
/FUN.tsv
/jMetal.log
/VAR.tsv
/jMetal.log.*
*.iml

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

/docs/
.ipynb_checkpoints
*.csv
*.ipynb
META-INF
src/main/java/META-INF
/project-conf/dynamic/
/results/
/logs/

# Hypervolume calculation #

hypervolume/__pycache__/
*.pyc
