/.gradle/
/.idea/
/build/
/gradle/
/out/
/FUN.tsv
/jMetal.log
/VAR.tsv
/jMetal.log.1
*.iml

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

/docs/
.ipynb_checkpoints
*.csv
*.ipynb
